# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# =========================
# Downloads
# =========================
downloads/

# Temporary Files
*.tmp
*.temp
*.mp4

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/

# =========================
# Test Reports
# =========================
htmlcov/
.coverage
.pytest_cache/

# =========================
# Misc
# =========================
*.bak
*.swp

# Maven
target/

# Java
*.class